.searchPage {
  // MIXIN
  width: 100%;
  padding: 20px 20px;
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-areas:
    "filters search"
    "filters results";
  gap: 12px 20px;

  &Filters {
    grid-area: filters;
  }

  &Search {
    grid-area: search;
  }

  &Results {
    grid-area: results;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
