.appHeader {
  // MIXIN
  width: 100%;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &Navigation {
    display: flex;
    align-items: center;
    gap: 12px;

    & > a {
      font-size: 16px;
      line-height: 20px;
      padding: 8px 16px;
      background-color: transparent;
      border-radius: 4px;
      transition: background-color 200ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
}
