.appLogo {
  display: flex;
  align-items: center;
  gap: 12px;

  &Icon {
    width: 48px;
    height: 48px;
    
    // DEV
    border-radius: 8px;
    background-color: black;
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
  }

  &Description {
    font-size: 8px;
    text-transform: uppercase;
  }
}
