.search {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;

  &Input {
    width: 100%;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
